# NextAuth
NEXTAUTH_SECRET=your-secret-here  # openssl rand -base64 32
NEXTAUTH_URL=http://localhost:3000

# App credentials
APP_USERNAME=admin
APP_PASSWORD=your-password-here

# Notion
NOTION_TOKEN=your-notion-integration-token
NOTION_DATABASE_ID=b0181e55-5df9-49a5-9790-0ac7e50057f9
